@media screen and (max-width: 599px){
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 500px;

        .left{
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
    
            .glow{
                width: 100%;
                padding: 2%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                h2{
                    text-align: center;
                    font-size: 1.7rem;  
                    line-height: 2.6rem;      
                    font-weight: bold; /* Adjust font weight as needed */
                    color: #ffffff; /* Text color */
                    animation: glowAnimation 3s infinite alternate;
                    margin-top: .5rem;
                }
            }

            .glow2{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                letter-spacing: 1px;
                
                h4{
                    font-size: .9rem;
                }
                h5{
                    font-size: .9rem;
                }
                h6{
                    font-size: .9rem;
                }
    
                .cta {
                    p {
                        font-size: .9rem;
                        color: orange;
                        animation: shakeAnimation .6s infinite;
                    }
                }
            }
        }
    
        .car{
            position: absolute;
            bottom: 0rem;
            right: 6%;
            height: 180px;
            width: 200px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
    
        }
    
        .right{
            width: 100%;
            position: relative;
    
            .btns{
                width: 90%;
                margin: 0 auto;
                display: flex;
                gap: 1rem;
                flex-direction: column;
                margin-top: 2rem;
                
    
                .box{
                    width: 30px;
                    height: 30px;
                }
    
                
            }
        }
    }
}